/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13-Jun-2022, 09:36:26
    Author     : Administrator
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --color-primary: #eaa636;
  --color-danger: #fc515f;
  --color-success: #41f1b6;
  --color-warning: #f69708;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #1e1916;
  --color-light: #fdf5eb;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --bdrd-1: 0.4rem;
  --bdrd-2: 0.8rem;
  --bdrd-3: 1.2rem;

  --card-padding: 1.5rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  overflow-x: hidden;
}

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 14rem auto 1rem;
}

.container-create {
  display: grid;
  gap: 2rem;
  grid-template-columns: 14rem auto;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 0.87rem;
}

small {
  font-size: 0.75rem;
}

.primary {
  color: var(--color-primary);
}

/* VERTICAL NAVBAR */
aside {
  height: 100vh;
  background-color: #fff;
}

aside .navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.1rem;
  margin-left: 2rem;
}

aside .btn-close {
  display: none;
}

aside .navbar-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
  height: 85vh;
}

aside .navbar-content a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.8rem;
  transition: 0.3s ease;
}

aside .navbar-content .logout {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .navbar-content a.active {
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .navbar-content a.active:before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
}

aside .navbar-content a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem -3px);
}
/* 
aside .navbar-content a:hover {
  margin-left: 1rem;
} */

aside .navbar-content a span {
  font-size: 1.8rem;
}

/* MAIN SECTION */
main {
  margin-top: 1.5rem;
}

.main {
  max-width: 100%;
  margin: 2rem auto 0;
}

#scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(42, 41, 41, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(42, 41, 41, 0.3);
  background-color: #555;
}

/* EDIT USER */
.edit-user {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.form input {
  display: block;
  width: 100%;
  font-size: 15px;
  opacity: 0.8;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: var(--card-border-radius);
  border: none;
}

.user-info {
  width: 70%;
}

.user-info input {
  display: block;
  width: 100%;
  font-size: 15px;
  opacity: 0.8;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: var(--card-border-radius);
  border: none;
}

.user-info label,
.form label {
  display: block;
  margin-bottom: 1rem;
}

.user-info input:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.user-image {
  width: 20rem;
  height: 20rem;
  /* overflow: hidden; */
  margin: 3rem auto 0;
  margin-left: 6rem;
  position: relative;
}

.user-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-role{
  position: absolute;
  top: 0;
  padding: 5px 20px;
  color: var(--color-dark);
  background-color: var(--color-primary);
  /* border-radius: 5px; */
  font-size: 1.4rem;
  font-weight: 600;
  transform: translateX(-15%);
  height: 44px;
}

.user-role::before{
  content: '';
  position: absolute;
  right: -44px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 22px solid var(--color-primary);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid transparent;
}

.user-role::after{
  content: '';
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 22px solid var(--color-primary);
  border-top: 22px solid var(--color-primary);
  border-bottom: 22px solid var(--color-primary);
  border-left: 22px solid transparent;
}



  /* &::after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #7eb4e2;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  } */


.btn-submit {
  border-radius: var(--card-border-radius);
  cursor: pointer;
  border: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s;
  font-family: inherit;
  background: transparent;
}

.btn-submit:hover {
  background-color: var(--color-primary);
  /* border: none; */
}

.btn-submit:hover a{
  color: #fff;
}

select {
  background-color: #fff;
  color: var(--color-primary);
  padding: 0.8rem 1.2rem;
  text-align: center;
  border: none;
  border-radius: var(--bdrd-3);
  font-size: 1rem;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  margin: 2rem;
  outline: none;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 6rem auto 1rem;
  }

  aside .navbar-heading {
    display: none;
  }

  aside .navbar-content h3 {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  h2 {
    margin-bottom: 1rem;
  }

  aside {
    position: fixed;
    left: 0;
    width: 15rem;
    z-index: 3;
    padding: var(--padding-1);
    display: none;
  }

  aside .navbar-heading {
    display: block;
  }

  aside .navbar-content h3 {
    display: block;
  }

  aside .btn-close {
    display: block;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
}
