/********** Template CSS **********/
:root {
    --primary: #eaa636;
    --secondary: #545454;
    --light: #fdf5eb;
    --dark: #1e1916;
  }
  
  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-weight: 600 !important;
  }
  
  .py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .m-8{
    margin: 8px;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
  }
  
  /*** Spinner ***/
  #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
  }
  
  #spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }
  
  /*** Button ***/
  .btn {
    font-weight: 500;
    transition: 0.5s;
  }
  
  .btn.btn-primary {
    color: #ffffff;
  }
  
  .btn-square {
    width: 38px;
    height: 38px;
  }
  
  .btn-sm-square {
    width: 32px;
    height: 32px;
  }
  
  .btn-lg-square {
    width: 48px;
    height: 48px;
  }
  
  .btn-square,
  .btn-sm-square,
  .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }
  
  /*** Navbar ***/
  .navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  .navbar .navbar-nav .nav-link {
    padding: 35px 15px;
    color: var(--light);
    outline: none;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
  }
  
  .navbar.fixed-top {
    transition: 0.5s;
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-nav {
      margin-top: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      background: var(--dark);
    }
  
    .navbar .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
      display: block;
      visibility: hidden;
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      transition: 0.5s;
      opacity: 0;
    }
  
    .navbar .nav-item:hover .dropdown-menu {
      transform: rotateX(0deg);
      visibility: visible;
      transition: 0.5s;
      opacity: 1;
    }
  }
  
  /*** Header ***/
  .header-carousel .owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
      position: relative;
      min-height: 600px;
    }
  
    .header-carousel .owl-carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .header-carousel .owl-carousel-item p {
      font-size: 16px !important;
    }
  }
  
  .header-carousel .owl-nav {
    position: relative;
    width: 80px;
    height: 80px;
    margin: -40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-carousel .owl-nav::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: rotate(45deg);
  }
  
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
    position: relative;
    font-size: 40px;
    color: var(--primary);
    transition: 0.5s;
    z-index: 1;
  }
  
  .header-carousel .owl-nav .owl-prev:hover,
  .header-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
  }
  
  .page-header {
    margin-bottom: 6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
  }
  
  /*** Facts ***/
  .fact-item {
    transition: 0.5s;
  }
  

  
  /*** About ***/
  .img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    background: var(--primary);
    border: 25px solid var(--light);
    border-radius: 6px;
    z-index: -1;
  }
  
  /*** Product ***/
  .product-item {
    transition: 0.5s;
  }
  
  .product-item:hover {
    background: var(--primary) !important;
  }
  
  .product-item:hover * {
    color: var(--light);
  }
  
  .product-item:hover .border-primary {
    border-color: var(--light) !important;
  }
  
  .product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  .product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
  }
  
  /*** Team ***/
  .team-item .team-text {
    position: relative;
    height: 100px;
    overflow: hidden;
  }
  
  .team-item .team-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light);
    transition: 0.5s;
  }
  
  .team-item:hover .team-title {
    top: -100px;
  }
  
  .team-item .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transition: 0.5s;
  }
  
  .team-item .team-social .btn {
    margin: 0 3px;
  }
  
  .team-item:hover .team-social {
    top: 0;
  }
  
  /*** Testimonial ***/
  .testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
  }
  
  .testimonial-carousel .owl-item .testimonial-item,
  .testimonial-carousel .owl-item .testimonial-item * {
    transition: 0.5s;
  }
  
  .testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
  }
  
  .testimonial-carousel .owl-item.center .testimonial-item * {
    color: #ffffff !important;
  }
  
  .testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .testimonial-carousel .owl-nav .owl-prev,
  .testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: 0.5s;
  }
  
  .testimonial-carousel .owl-nav .owl-prev:hover,
  .testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
  }
  
  /*** Footer ***/
  .footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
  }
  
  .footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
  }
  
  .footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
  }
  
  .copyright {
    background: #111111;
  }
  
  .copyright a {
    color: var(--primary);
  }
  
  .copyright a:hover {
    color: var(--light);
  }
  nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.py-lg-0.px-lg-5.wow.fadeIn {
    background: black;
  }
.slidebar a{
    display: flex;
    height: 3.7rem;
    position: relative;
    align-items: center;
    transition: all 300ms ease;
    margin: 2rem;
    gap: 1rem;
}  
.slidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
.slidebar{
padding-top: 50px;
}
.slidebar a.active{
    background:rgba(255, 255, 255, 0.3);
    color: aquamarine;
    margin-left: 0;
    width: 100%;

}
.slidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: black;

}
.slidebar a.active span{
    color: #eaa636;
    margin-left: 15px;
}
.slidebar a:hover{
    color: black;

}
.slidebar a:hover span{
    margin-left: 1rem;
}
