:root {
    --primary: #eaa636;
    --secondary: #545454;
    --light: #fdf5eb;
    --dark: #1e1916;
  }  

.dropitems{
    display: none;
    position: absolute;
    background-color: var(--dark);
    list-style: none;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-right: 0px;
    min-width: 150px;
}
.dropitems a{
    color: var(--light);
}
.dropitems a:hover{
    color: var(--primary);
}
.dropmenu:hover .dropitems{
    display: block;
}
.nav-link{
    padding-bottom: 10px !important;
}
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  .hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: var(--primary) solid 6px;
    border-radius: 32px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  .hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }


  