.trunc-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.relateProduct {
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: fit-content;
}
.relateProduct::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.relateProduct::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.relateProduct::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(97, 96, 96);
}
.button {
  background-color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
  border: 0;
  padding: 0;
  text-align: left;
}
.productImg {
  border-radius: 10px;
}
